.no-underline{
  text-decoration: none; /*Este estilo es para que no salgan los datos de la tarjeta producto subrayados por el estilo de Link*/
}
.card {
    cursor: pointer;
    box-shadow: 0px 4.01838px 8.03675px 4.01838px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: .2rem .7rem;
    background-color: var(--white);
    height: auto;
    width: 14rem;
    display: flex;
    flex-direction: column;
    position: relative; /* Añadido para establecer un contexto de posición relativa */
  }
  
  .card > .card-title {
    font-size: var(--text-sm);
    font-weight: bold;
    text-align: center;
    white-space: nowrap; /* Para evitar que el texto se divida en varias líneas */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card > .image-carousel {
    width: 100%;
    overflow: hidden;
    position: relative; /* Añadido para establecer un contexto de posición relativa */
  }
  
  .card .card-img {
    height: auto;
    max-height: 8rem; /* Establece una altura máxima */
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 0;
  }
  
  
  .card > .card-bottom {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 1rem;
  }
  
  .card > .card-bottom > .price {
    font-size: var(--text-lg);
    color: var(--secondary);
    margin-bottom: 0.5rem;
  }
  
  .card > .card-bottom > p {
    margin: 0;
  }